   html{
        scroll-behavior: smooth;
    }
    body{
        margin: 0px;
        padding: 0px;
        background-color: black;
        
    }
    #top{
        width: 100%;
        height: 12%;

        border-bottom: 3px solid rgb(245, 110, 0);
        background-color: black;
        z-index: 1000;
    }
    #logo{
        height: 100%;

    }
    .ul{
   position: relative;  
   bottom:100%;
   margin-left: 350px;
   list-style: none;
   right: 0px;
   z-index: 1000000;
   float:right;
   
}
.li{
   margin: 10px;
   margin-left:0px;
   float: left;
}
.a{
   text-align: center;
   width: 10px;
   text-decoration: none;
   
   margin-left: 0px;
   font-size: 1vw;
   color: white;
   padding: 25px;
}
.a:hover {
   color:rgb(245, 110, 0);
}
#what{
    width: 90%;
    
}
#topimg img{
    width: 100%;
    height: 600px;
   
}
#topimg{
    margin-top: 50px;
    margin: auto;
    overflow: hidden;
}
#img1{
    animation: example 1s linear;
    
}
#title{
    border-radius: 10px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: 3vw;
    width: 70%;
    background-color: rgb(245, 110, 0);
    text-align: center;
    padding: 10px;
}
#title2{
    margin-top: 30px;
    color: rgb(245, 110, 0);
    font-size: 3vw;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}
#vision,#team{
    width: 100%;
}
#info{
    background-color: white;
    font-size: 2vw;
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
}
#info2{
    background-color: white;
    font-size: 2vw;
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
}
@keyframes example {
  from {
      opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#wul{
float: left;
}
#wcard{
   
    width: 50%;
    margin:auto;
    background-color: white;
    border-radius: 100px;
    margin-top: 20px;
}
#imgcard{
    margin: 0px;
    width: 100%;
    
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
#imgcard2{
    margin: 0px;
    width: 100%;
    
}
#imgi{
    width: 100%;
    margin-bottom: 30px;

}
#devi{
    margin: auto;
}
#pi{
    height: 300px ;
    width: 300px;
    padding: 0px;
    margin: auto;
    border-radius: 30px;

   
}
#title3{
    z-index: 3;
    position: relative;
    font-size: 2vw;
    text-align: center;
    background-color: rgb(245, 110, 0);
    margin: 0px;
    padding: 20px;
    bottom: 10px;
    border-bottom: black 1px solid;
    border-top: black 1px solid;

}
#title4{
    z-index: 3;
    position: relative;
    font-size: 2vw;
    text-align: center;
    background-color: white;
    margin: 0px;
    padding: 20px;
    bottom: 10px;
    border-top: black 1px solid;

}
#info3{
    font-size: 2vw;
    text-align: left;
    padding: 20px;
}
#info4{
    background-color: rgb(245, 110, 0);
    color: white;
    font-size: 2vw;
    text-align: left;
    padding: 20px;
    text-shadow:1px 1px black;

}
#cicon{
  color: rgb(245, 110, 0);
  margin: 20px;
  padding: 0px;
  
}
#infoicon{
    color: white;
    width: auto;
    
}
.f{
    text-decoration: none;
   color: white;
}
.f:hover{
    color: blue;
}
@media only screen and (max-width:1000px) {
   .ul{
       display: none;
   }
   
}